@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="homepageContainer">
	<div class="row">
		<div class="col-lg-9">
	        <p>
	            Dial Glass Ltd is a family run business with over 30 years of boarding up and glazing experience covering the whole of Kent. 
	            We deliver an excellent service at competitive prices.
	            We provide free estimates for our glass replacement service in Medway, and deliver quality double glazing via our glazing services and shop front repairs in Kent. Our fully stocked glass merchants store a wide variety of types of glass.
	        </p>

	        <h2>Emergency Boarding Up Service in Kent</h2>

	        <p>
	            Our services are available 24 hours a day 365 days a year, including holidays such as Christmas and New Year’s Day CALL 01634 267444.

	            We provide a counter service offering cut size glass, double-glazed units broken or misted, UPVC Door and Window parts- hinges, handles, locks and letterboxes for the Domestic and Commercial customer.
	        </p>

	        <h2>More Than 30 Years of Experience</h2>

	        <p>
	            Our family-run business is a member of the Glass and Glazing Federation (GGF) and endorsed by TrustMark, so you know that our services are trustworthy and reliable.  We are also accredited to Safe Contractor, Construction Line, RISQS and ISO 9001:2008
	            Our personal approach and wealth of experience gives you customer satisfaction every time.
	        </p>
        </div>

	    <div class="col-lg-3">

            <div class="callnow">
                <span class="callnowTitle">Call Us Now</span><br />
                01634 267444<br />
                01634 267555
            </div>
			
	        <img src="/Images/dial-glass-logo.jpg" />
	    </div>
	</div>
	
	<div class="row">   
        <img src="/Images/dial-glass-van.jpg" />
	</div>
    
</div>